{% extends 'base.html' %}

{% block content %}
  <h1>Add New Post</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <form method="post">
    <label for="last_name">Имя</label><br>
    <input type="text" id="last_name" name="last_name">
    <label for="first_name">Фамилия</label>
    <input type="text" id="first_name" name="first_name">
    <input type="submit" value="Submit">
  </form>
<div class="indexbutton">
       <a href="{{ url_for('index') }}">Back to index</a>
    </div>
{% endblock %}